body{
	font-family: 'Lato', sans-serif;
}
*{
	transition: all 0.4s;
}
.header-section{

}
.navbar-default .navbar-brand {
    color: #39C9DA;
    font-size: 24px;
    font-weight: 600;
}
.navbar-default .navbar-brand span{
	 color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #39C9DA;
    background-color: transparent;
}
.carousel-inner > .item > img{
    width: 100%;

}
.carousel-caption {
    bottom: auto !important;
    top: 58%;
    transform: translateY(-50%);

}

.carousel-caption h1 {
	    font-weight: 600;
	    font-size: 30px;
	    max-width: 500px;
	    margin: 0 auto;
	    line-height: 1.6;
	    margin-bottom: 20px;
}
.btn-custom{
   background: #39C9DA;
   color: #fff;
   border-radius: 0;
   padding: 10px 30px;
   font-weight: 600;
   transition: background 0.4s;
}
.btn-custom:hover{
	background: #225c6d;
	color: #fff;
	text-decoration: none;
}
.about-us-section{
padding: 50px 0;
}
.heading{

text-align: center;

margin-bottom: 50px;
}
.heading h2{
	
font-weight: 600;
	
font-size: 30px;
	
text-transform: uppercase;
}
.heading p{
	
max-width: 500px;
	
margin: 0 auto;
}
.about-us-content{

}
.about-us-content h2{

font-size: 20px;

text-transform: uppercase;

font-weight: 600;
}
.about-us-content span{

height: 2px;

width: 127px;

display: block;

background: #39c9da;
}
.about-us-content p{
	margin: 15px 0;
	font-size: 16px;
}
.portfolio-section{
    background: #cecece36;
    padding: 50px 0;
}
.portfolio{

background: #fff;

margin-bottom: 30px;
}
.portfolio-img{

position: relative;

}
.portfolio-img img{width: 100%;}
.portfolio-img .btn-portfolio{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	text-transform: uppercase;
	color: #fff;
	border: 1px solid;
	border-radius: 0;
	padding: 10px 25px;
	opacity: 0;/* zoom:out;*/
	transition: all 0.4s;
}
.portfolio-img:hover .btn-portfolio{
	opacity: 1; /*zoom:in;*/
	transform: translate(-50%,-50%) scale(1);
}
.portfolio-img .btn-portfolio:hover{
	color: #39c9da;
}
.portfolio .list-inline{

overflow: hidden;

padding: 10px;
}
.portfolio .list-inline li{
	
width: 50%;
	
float: left;
}
.portfolio .list-inline li strong{

font-size: 13px;
}
.portfolio .list-inline li span{

float: right;

color: #c3c0c0;
}
.portfolio:hover .list-inline{

color: #37cadc;
}

.service-section{

padding: 50px 0;

background: #f3f3f394;
}
.service{

background: #fff;

text-align: center;

padding: 25px 15px;
}
.service img{

margin: 0 auto;
}
.service h3{

font-weight: 600;

font-size: 20px;

text-transform: uppercase;
}
.service span{

background: #a59898;

width: 100px;

height: 2px;

display: block;

margin: 0 auto;
}
.service p{

margin: 10px 0 20px;
}

	
body{   font-family: 'Lato', sans-serif;  }  .header-section{    }  .navbar-default .navbar-brand {
	
color: #39C9DA;
	
font-size: 24px;
	
font-weight: 600;  }  .navbar-default .navbar-brand
	
span{    color: #fff;  }  .navbar-default .navbar-nav >
	
li > a:hover, .navbar-default .navbar-nav > li > a:focus {      color: #39C9DA;
	
background-color: transparent;  }  
.carousel-inner > .item >
	
img{  
    width: 100%; 
     } 
 .carousel-caption {
	
bottom: auto !important;
	
top: 58%;
	
transform: translateY(-50%);  }  .carousel-caption
	
h1 {       font-weight: 600;
	
font-size: 30px;
	
max-width: 500px;
	
margin: 0 auto;
	
line-height: 1.6;
	
margin-bottom: 20px;  }  .btn-custom{
	
background: #39C9DA;
	
color: #fff;
	
border-radius: 0;
	
padding: 10px 30px;
	
font-weight: 600;
	
transition: background 0.4s;  }  .btn-custom:hover{
	
background: #225c6d;
	
color: #fff;
	
text-decoration: none;  }  .about-us-section{
	
padding: 50px 0;  }  .heading{
	
text-align: center;
	
margin-bottom: 50px;  }  .heading
	
h2{     font-weight: 600;
	
font-size: 30px;
	
text-transform: uppercase;  }  .heading
	
p{     max-width: 500px;
	
margin: 0 auto;  }  .about-us-content{    }  .about-us-content
	
h2{    font-size: 20px;
	
text-transform: uppercase;
	
font-weight: 600;  }  .about-us-content
	
span{    height: 2px;
	
width: 127px;
	
display: block;
	
background: #39c9da;  }  .about-us-content
	
p{   margin: 15px 0;
	
font-size: 16px;  }  .portfolio-section{
	
background: #cecece36;
	
padding: 50px 0;  }  .portfolio{
	
background: #fff;
	
margin-bottom: 30px;  }  .portfolio-img{
	
position: relative;    }  
.portfolio-img
	
img{
	width: 100%;
} 

.portfolio-img .btn-portfolio{
	
position: absolute;
	
top: 50%;
	
left: 50%;
	
transform: translate(-50%,-50%) scale(0);
	
text-transform: uppercase;
	
color: #fff;
	
border: 1px solid;
	
border-radius: 0;
	
padding: 10px 25px;
	
opacity: 0;
background:  transparent;
	
/* zoom:out;*/
	
transition: all 0.4s ease;  }  
.portfolio-img:hover .btn-portfolio{
	
opacity: 1;
	
/*zoom:in;*/
	
transform: translate(-50%,-50%) scale(1); 
 } 
 .portfolio-img .btn-porfolio:hover{
    color: #39c9da;
} 
  .portfolio .list-inline{
	
overflow: hidden;
	
padding: 10px;  }  .portfolio .list-inline
	
li{     width: 50%;
	
float: left;  }  .portfolio .list-inline
	
li strong{    font-size: 13px;  }  .portfolio .list-inline
	
li span{    float: right;
	
color: #c3c0c0;  }  .portfolio:hover .list-inline{
	
color: #37cadc;  }    .service-section{
	
padding: 50px 0;
	
background: #f3f3f394;  
}  
.service{
	
background: #fff;
	
text-align: center;
	
padding: 25px 15px;  }  
.service
	
img{    margin: 0 auto;  
}  
.service
	
h3{    
font-weight: 600;
	
font-size: 20px;
	
text-transform: uppercase;
  } 
.service
	
span{    

background: #a59898;
	
width: 100px;
	
height: 2px;
	
display: block;
	
margin: 0 auto; 
 }  
.service
	
p{   
 margin: 10px 0 15px; 
 } 
.service .readmore{
	
color: #fff;
	
background: #3a4750;
	
text-transform: capitalize;
	
border-radius: 0;
	
padding: 10px 20px;
	
font-weight: 500;
	
font-size: 16px;
	
transition: all 0.4s;
	
display: inline-block;
text-decoration: none;
}
.service:hover{
    background: #37C5D9;
}
.service:hover h3,.service:hover p{
	color: #fff;
}
.service:hover span{
   color: #333;
}
.service:hover .readmore{
	color: #37C5D9;
	background:#fff ;
}
.contract-section {

padding: 50px;

background: #e2e2e2b0;
}
.contract-info{

}
.contract-info h2{

font-size: 20px;

text-transform: uppercase;

font-weight: 600;
}
.contract-info p{

margin: 10px 0;
}
.contract-info span{

background: #39c9da;

height: 2px;

width: 100px;

display: block;
}
address{

}
address p{

}
form .btn-custom{
	float: right;
}
.form-control:focus {
    border-color: #66afe900;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 8px rgba(125, 169, 204, 0);
}
.affix{
	background: #1012138c;
}
footer{
	background: #39c9da;
}

.copyright{

}
.copyright p{

color: #fff;

margin: 0 40%;

padding: 10px;
}
.copyright p a{
	
text-decoration: none;
	
color: #fff;
}